.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.btn-flat {
  background-color: purple;
  color: white;
}

.btn-xxl {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
}
/* .body {
  background-color: blueviolet;
  margin: 10px;
  background-position: inherit;} */

.App-header {
  background-color: blueviolet;
  min-height: 100vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  color: black;
  text-align: center;
}

.h3 {
  padding: 40px; 
  font-size: 20px;
}

.App-field {  
  background-color: whitesmoke;
  width: 550px;
  height: 600px;
  font-size: 20px;
  padding: 80px;
  
}


#checkbox {
  text-align: left;
  font-size: 15px;
  
}

.App-header[text-muted] {
 color: whitesmoke;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
